@keyframes glitter {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animate-glitter {
    background-size: 200% 200%;
    animation: glitter 8s ease infinite;
}
@import 'flowbite';
@import "tailwindcss";

    